
.body {
  text-align: center;
}
.body p {
  margin-top: 50px;
  font-size: 25pt;
}
.body .info {
  margin-top: 50px;
  font-size: 15pt;
}
  
.button{
  border-radius: 8px;
  padding: 10px 24px;
  font-size: 12px;
  transition-duration: 0.4s;
  border: 2px solid #4CAF50;
  cursor: pointer;
  text-align: center;
} 

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
