.App {
  height: auto;
  margin: 0%;
  padding: 0%;
  border: 0%;
  bottom: 0px;
}

.navbar {
  background-color: rgb(255, 255, 255);
  font-size: 15pt;
  border-bottom: 1px solid rgb(128, 128, 128);
}
