.header {
  padding: 20px;
  height: 150px;
  width: 100%;
}

.col.twoo {
  background-color: rgb(137, 28, 16);
  padding: 0px;
}
.col.oone {
  background-color: rgb(137, 28, 16);
  padding: 0px;
}
.col.oone p {
  margin-top: 25px;
  margin-left: 10px;
  color: white;
}

.col.twoo img {
  float: right;
}
