.body-about {
  text-align: center;
  background-color: rgb(244, 244, 244);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 900px;
  margin-bottom: 50px;
}
.body-about p {
  margin-top: 50px;
  font-size: 25pt;
}
.info-about {
  vertical-align: middle;
}
.body-about .info-about p {
  margin-top: 50px;
  font-size: 15pt;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.inTextLink {
  color: rgb(157, 0, 0);
}
